body{
  display:flex;
  justify-content: center;
}
.container{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  padding:50px;
}

.page-image img{
  width:500px;
}
.bar{
  background-color:rgba(32, 32, 33, 0.237);;
  border-radius:8px;
  margin-top: 15px;
  width:450px;
  display:flex;
  justify-content: space-between;
  font-size:20px;
}
#existing{
  background-color: white;
  padding:10px;
  margin:5px;
  border-radius:8px;
  width:225px;
  text-align: center;
}
#new{
  color:white;
  padding:10px;
  margin:5px;
  border-radius:8px;
  text-align: center;
  width:225px;
}
.input-login{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:15px;
  position:relative;
}
.input-login input{
  padding:20px;
  width:300px;
  font-size:15px;
  border-radius: 5px;
  border-color: transparent;
}
.input-login #email-address{
  border-bottom: 1px solid gray;
}
.input-login button{
  padding:10px;
  width:150px;
  background-color:rgba(133, 150, 183, 0.699);
  border-color: transparent;
  color:white;
  font-size:15px;
  position:absolute;
  top:110px;
}
p{
  margin-bottom:40px;
}
.forget-password{
  margin-top:40px;
  color:rgb(107, 107, 107);
}
.input-signup{
  display:none;
  flex-direction: column;
  align-items: center;
  margin-top:15px;
  position: relative;
}
.input-signup input{
  padding:20px;
  width:300px;
  font-size:15px;
  border-radius: 5px;
  border-color: transparent;
  border-bottom: 1px solid gray;
}
.input-signup #confirmation{
  border-color:transparent;
}
.input-signup button{
  padding:10px;
  width:150px;
  background-color:rgba(133, 150, 183, 0.699);
  border-color: transparent;
  color:white;
  font-size:15px;
  position:absolute;
  top:230px;
}
p{
  margin-bottom:40px;
}