.Todo-container{
    width:512px;
    height:768px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 0 8px 0 lightgrey;
    margin: 0 auto;
    flex-direction: column;
    display:flex;
    margin-top: 96px;
}